.c1:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.c2:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.c3:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.c4:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.c5:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.c6:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}
.c7:hover{
    transform: translateY(-10px);
    transition-duration: .5s;
}